<!-- Responsible for showing list items -->
<% @list_items.each_with_index do |item, index| %>
  <article <%= 'class="complete"' if item.complete %>>
    <h1>Item <%= index + 1 %></h1>
    <p><%= item.description %></p>
      <form class="right-section" action="/<%= item.id %>" method="post">
      <label><input type="checkbox" id="cbox1" value="first_checkbox" <%= "checked" if item.complete %> disabled></label><br>
        <span><a href="/<%= item.id %>/complete">[<%= "un" if item.complete %>check]</a></span><br>
        <span><a href="/<%= item.id %>">[edit]</a></span>
      </a>
      </form>
    <p class="meta-information">Due by: <%= item.due != nil ? item.due : "N/A" %></p>
    <p class="meta-information">Priority: <%= item.priority != nil ? item.priority : "N/A" %></p>
  </article>
<% end %>
